<!-- Form -->
<div class="container-fluid">
  <!-- Texto info -->
  <p class="text-secondary text-center small font-weight-bold mb-5">
    Introduce tu cuenta de correo electrónico y te enviaremos un email para que puedas restablecer tu contraseña
  </p>
  <form [formGroup]="_formPasswordReset" (ngSubmit)="_onPasswordResetFormSubmit()">
    <div class="form-group">
      <input formControlName="email" type="email" class="form-control" id="emailInput" placeholder="Correo electrónico"
             [ngClass]="
                 (_formPasswordReset.get('email').touched || _formPasswordReset.get('email').dirty) &&
                 _formPasswordReset.get('email').hasError('required')
                 ? 'is-invalid': ''
                 ||
                 _formPasswordReset.get('email').hasError('email')
                 ? 'is-invalid' : ''
                 ||
                 (_formPasswordReset.get('email').touched || _formPasswordReset.get('email').dirty) &&
                 !_formPasswordReset.get('email').invalid
                 ? 'is-valid' : ''
                 "
      >
    </div>
    <button [disabled]="_formPasswordReset.invalid || _formBeingSubmitted" type="submit" class="btn btn-primary mt-4 w-100">Enviar</button>
    <!-- Enlace a login -->
    <div class="form-text mt-4 text-center">
      <hr>
      <a [routerLink]="['/auth/login']" role="button">Volver al inicio</a>
    </div>
  </form>
</div>
<!-- Modal -->
<p-dialog [(visible)]="_displayModal"
          [transitionOptions]="'100ms'"
          [closable]="false"
          [draggable]="false"
          [showHeader]="false"
          [modal]="true"
          [style]="{width: '450px'}"
>
  <p>¡Listo! En breve recibirás un correo con las instrucciones para restablecer tu contraseña</p>
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary btn-sm" (click)="_navigateToLogin()">¡VALE!</button>
  </div>
</p-dialog>
<!-- Toast -->
<p-toast position="bottom-center"></p-toast>
