<div class="container">

  <div class="hero-image"></div>

  <div class="hero-text">
    <H1>{{'Descubre' | translate }}<br>{{'Planes' | translate }}<br><span class="provincia-title-header">{{'enVizcaya' | translate }}</span></H1><br>
    <H4>{{'DescuCreaComp' | translate }}</H4>
  </div>

  <div class="search-bar-container">
    <form [formGroup]="_formSearch" (ngSubmit)="_onFormSearchSubmit()" class="search-bar-form">
      <label for="search-input">{{'QueQuieresHacer' | translate}}</label><br>
      <input formControlName="searchInput" id="search-input" class="search-input" type="text"  aria-label="Search input">
      <button [disabled]="_formSearch.invalid" type="submit" class="button-search-form">
        <svg xmlns="http://www.w3.org/2000/svg" width="1.5vw" height="1.5vw" fill="white" class="bi bi-search"
             viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
    </form>
  </div>

</div>


