<!-- Form -->
<div class="container-fluid">
  <!-- Texto info -->
  <p class="text-secondary text-center small font-weight-bold mb-5">
    Introduce tu nueva contraseña. Para proteger tu cuenta recuerda no compartirla con nadie
  </p>
  <form [formGroup]="_formPasswordChange" (ngSubmit)="_onPasswordChangeFormSummit()">
    <!-- Contraseña -->
    <div class="form-group">
      <div class="input-group">
        <input formControlName="password" [type]="_passwordTextFieldType ? 'text' : 'password'" class="form-control"
               id="passwordInput" placeholder="Contraseña"
               [ngClass]="
                 (_formPasswordChange.get('password').touched || _formPasswordChange.get('password').dirty) &&
                 _formPasswordChange.get('password').hasError('required')
                 ? 'is-invalid': ''
                 ||
                 _formPasswordChange.get('password').hasError('minlength')
                 ? 'is-invalid' : ''
                 ||
                 (_formPasswordChange.get('password').touched || _formPasswordChange.get('password').dirty) &&
                 !_formPasswordChange.get('password').invalid
                 ? 'is-valid' : ''
                 "
        >
        <div (click)="_togglePasswordTextFieldType()" class="input-group-append ms-1">
                  <span class="input-group-text h-100">
                    <i class="pi"
                       [ngClass]="{'pi-eye-slash': !_passwordTextFieldType,'pi-eye': _passwordTextFieldType}"></i>
                  </span>
        </div>
        <div class="invalid-feedback mt-0">
          <p *ngIf="_formPasswordChange.get('password').hasError('minlength')" class="small text-end">Introduce al menos 6
            caracteres</p>
        </div>
      </div>
    </div>
    <!-- Confirmación contraseña -->
    <div class="form-group mt-4">
      <div class="input-group">
        <input formControlName="passwordConfirmation" [type]="_passwordConfirmTextFieldType ? 'text' : 'password'"
               class="form-control"
               id="passwordConfirmationInput" placeholder="Confirma tu contraseña"
               [ngClass]="
                 (_formPasswordChange.get('passwordConfirmation').touched || _formPasswordChange.get('passwordConfirmation').dirty) &&
                 _formPasswordChange.get('passwordConfirmation').hasError('required')
                 ? 'is-invalid': ''
                 ||
                 _formPasswordChange.get('passwordConfirmation').hasError('minlength')
                 ? 'is-invalid' : ''
                 ||
                 _formPasswordChange.get('passwordConfirmation').hasError('confirmedValidator')
                 ? 'is-invalid' : ''
                 ||
                 (_formPasswordChange.get('passwordConfirmation').touched || _formPasswordChange.get('passwordConfirmation').dirty) &&
                 !_formPasswordChange.get('passwordConfirmation').invalid
                 ? 'is-valid' : ''
                 "
        >
        <div (click)="_togglePasswordConfirmTextFieldType()" class="input-group-append ms-1">
                  <span class="input-group-text h-100">
                    <i class="pi"
                       [ngClass]="{'pi-eye-slash': !_passwordConfirmTextFieldType,'pi-eye': _passwordConfirmTextFieldType}"></i>
                  </span>
        </div>
        <div class="invalid-feedback mt-0">
          <p *ngIf="_formPasswordChange.get('passwordConfirmation').hasError('confirmedValidator')" class="small text-end">Las
            contraseñas no coinciden</p>
        </div>
      </div>
    </div>
    <!-- Botón login -->
    <button [disabled]="_formPasswordChange.invalid || _formBeingSubmitted" type="submit" class="btn btn-primary mt-4 w-100">Enviar</button>
  </form>
</div>
<!-- Modal -->
<p-dialog [(visible)]="_displayModal"
          [transitionOptions]="'100ms'"
          [closable]="false"
          [draggable]="false"
          [showHeader]="false"
          [modal]="true"
          [style]="{width: '450px'}"
>
  <p>Tu contraseña ha sido restablecida satisfactoriamente. ¡Ya puedes seguir navegado por Euskoplan!</p>
  <div class="d-flex justify-content-center">
    <button class="btn btn-primary btn-sm" (click)="_navigateToLogin()">¡VALE!</button>
  </div>
</p-dialog>
