<!-- Mapa -->
<div #mapDiv class="map-container">
  <!-- Spinner -->
  <p-progressSpinner [hidden]="!_isLoading"
                     class="spinner"
                     styleClass="map-spinner"
                     strokeWidth="4">
  </p-progressSpinner>
  <!-- Botón cambiar estilo mapa -->
  <button (click)="_onChangeMapStyleButtonClicked()" type="button"
          class="btn btn-map-style"
          [ngClass]="{'btn-dark': !_mapStyleIsDark,'btn-light': _mapStyleIsDark}"
  >
    <i class="pi map-style-icon" [ngClass]="{'pi-moon': !_mapStyleIsDark,'pi-sun': _mapStyleIsDark}"></i>
  </button>
</div>
