.container-fluid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  padding: 50px 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.form-group {
  height: 40px;
}

.input-group-append {
  cursor: pointer
}

.logo {
  height: 25vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media screen and (max-width: 480px) {
  .container-fluid {
    top: 5%;
    transform: translate(-50%, 0);
    padding: 25px 15px;
    border: 0;
    box-shadow: none;
  }
}
